// COLORS
$color-primary: rgb(71,50,35);
$color-primary-light: rgb(177,132,101);
$color-primary-dark: rgb(44,31,22);


$color-bronze: rgb(176,141,87);
$color-bronze-light: rgb(197,171,132);
$color-bronze-dark: rgb(143,113,67);

$color-text-primary: rgb(255, 192, 1);
$color-text-primary-light: rgb(255,228,151);
$color-text-primary-dark: rgb(125,95,0);


//GRID
$grid-width: 114rem; //1140px when 1rem = 10px
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;