// COLORS
$color-primary: rgb(71,50,35);
$color-primary-light: rgb(177,132,101);
$color-primary-dark: rgb(44,31,22);

$color-text-primary: rgb(255,196,17);
$color-text-primary-light: rgb(255,228,151);
$color-text-primary-dark: rgb(125,95,0);


//GRID
$grid-width: 114rem; //1140px when 1rem = 10px
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;