// COLORS
$color-primary: rgb(71,50,35);
$color-primary-light: rgb(178,131,98);
$color-primary-dark: rgb(44,31,22);

$color-text-primary: rgb(255, 210, 83);
$color-text-primary-light: rgb(255,228,151);
$color-text-primary-dark: rgb(185,137,0);

$color-tertiary-light: rgb(146,133,198);
$color-tertiary-dark: rgb(176,141,87);

$color-bronze: rgb(176,141,87);
$color-bronze-light: rgb(198,172,133);
$color-bronze-dark: rgb(133,105,62);

$color-white: white;


//FONT
$default-font-size: 1.6rem;


//GRID
$grid-width: 114rem; //1140px when 1rem = 10px
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;