.card {
    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        width: 100%;

        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.7rem 5rem rgba($color-text-primary-light, .85) ;

        &--front {
            background-color: $color-bronze-dark ;
            color: $color-text-primary-light;
        }

        &--back {
            background-color: $color-primary-light;
            color: $color-primary-dark;
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-bronze-light, $color-bronze);
            }
        }
    }
   
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        
        -webkit-clip-path: polygon(0 0, 102% 0, 102% 75%, 0 100%); //this is because clip-path is a new property which doesn not work in all browsers
        clip-path: polygon(0 0, 102% 0, 102% 75%, 0 100%);

        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.8), rgba($color-primary, 0.6)), url(../../img/tour-1-large.jpg);
        }

        &--2{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.8), rgba($color-primary, 0.6)), url(../../img/tour-2-large.jpg);
        }

        &--3{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.8), rgba($color-primary, 0.6)), url(../../img/tour-3-large.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-bronze-dark;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone; //this is for the chrome browser
        box-decoration-break: clone;
        
        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-text-primary-light, .75), rgba($color-bronze-dark, .75) );
        }
    }

    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-bronze-light;
                }

            }
        }
    }

    // FRONT SIDE STYLING
    &__cta {
        @include absCenter;
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-text-primary-dark;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        color: $color-text-primary-light;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
        color: $color-text-primary-light;
    }
}