.review {
    width: 75%;
    margin: 0 auto;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.8), rgba($color-primary-light, 0.6));
    box-shadow: 0 3rem 6rem rgba($color-text-primary-light, .4 );
    background-color: white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    position: relative;

    &__shape {
        position: relative;
        width: 15rem;
        height: 15rem;

        float: left; //need it for the shape-outside property
        -webkit-shape-outside: circle(52% at 48% 47%); //for browser support
        shape-outside: circle(52% at 48% 47%);
        
        -webkit-clip-path: circle(50% at 48% 56%); //for browser support
        clip-path: circle(50% at 48% 56%);

        transform: translateX(-3rem) translateY(-3rem) skewX(12deg);
        
    }

    &__img {
        height: 100%;
        transform: translateX(-1.4rem) scale(1.4);
        transition: all .5s;
        backface-visibility: hidden;
    }

    &__text {
        transform: skewX(12deg);
        color: $color-bronze-dark;
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-text-primary;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%,-50%);
        font-size: 2rem;
        font-weight: 400;
    }

    &:hover &__img {
        //opacity: 0.7;
        transform: translateX(-.1rem) translateY(1.4rem) scale(1);
        filter: blur(3px) brightness(80%); //TODO: fix the image border that apears when adtivating the filter
    }
}

.review__rating {
    transform: skewX(12deg);
    //background-color: orangered;
    text-align: center;
    
    font-size: 2.5rem;
    letter-spacing: 1.5rem;

    padding-right: 5rem;
    padding-top: 2rem;

    position: absolute;
    left: 40%;
    top: 72%;

    &__icon {
        box-shadow: 0 1.5rem 4rem rgba($color-text-primary-light, .45);
    }
}
