.footer {
    background-color: $color-primary-dark;
    padding: 4rem 0 4rem;
    font-size: 1.4rem;
    color:$color-text-primary-light;

    &__logo-box {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-text-primary-light;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color:$color-text-primary-light;
            background-color: $color-primary-dark;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2;
        }

        &:hover,
        &:active {
            color: $color-text-primary-light;
            box-shadow: 0 1rem 1rem rgba($color-text-primary-light, .4);
        }
    }

    &__copyright{
        border-top: 1px solid $color-text-primary-light;
        padding-top: 2rem;
        width: 100%;
        float: right;
    }
}