.composition {
    position: relative;
    
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-primary-dark, .4);
        border: 0.2rem solid $color-primary;
        border-radius: 1.5rem;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        //outline-offset: .5rem;

        &--p1{
            left: 0;
            top: -2rem;
        }

        &--p2{
            right: 0;
            top: 3rem;
        }

        &--p3{
            left: 20%;
            top: 11rem;
        }

        &:hover {
            //border: none;
            //outline: 1.5rem solid $color-primary-light;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-primary-dark, .5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}