.section-about {
    background-color: $color-bronze-light;
    padding: 25rem 0;
    margin-top: -20vh;
    height: 93vh;
}

.section-features {
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.8), rgba($color-primary, 0.6)), url(../img/hero/landing-hero-2.jpg);
    background-size: cover;
    padding: 20rem 0;

    transform: skewY(-7deg);
    margin-top: -15rem;
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-bronze-light;
    padding: 27rem 0 15rem 0;
    margin-top: -15rem;
}

.section-reviews {
    position: relative;
    padding: 15rem 0;
    //background-image: linear-gradient(to left top, rgba($color-primary-light,0.8), rgba($color-primary, 0.8)), url(../img/master-bedroom.jpg);
    background-size: cover;
}
