/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


/* BRAND COLORS: 

Light gold: #255228151
Medium gold: #25519617
Dark gold: #125950

Light brown: #177132101
Medium gray-brown: #715035
Dark gray: #443122
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color:rgb(255, 196, 17);
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(177,132,101,0.8), 
        rgba(71,50,35, 0.6)), 
        url(../img/hero.jpg
    );
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color:rgb(255,228, 151); 
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 13.5px;
}