*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  70% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  70% {
    transform: translate(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(15rem); }
  70% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #ffe497;
  padding: 3rem; }

.heading-primary {
  color: #ffe497;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2.25s;
    animation-timing-function: ease-out;
    /* animation-delay: 3s;
        animation-iteration-count: 3s; */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.35rem;
    animation: moveInRight 2.25s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #b28362, #2c1f16);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffd253; }

.paragraph {
  font-size: 1.6rem;
  color: #85693e; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-section {
  color: #ffe497;
  background-size: cover;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  display: block;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  transition: all 0.2s; }
  .heading-section:hover {
    animation-name: moveInLeft;
    animation-duration: 1.25s;
    animation-timing-function: ease-out; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.u-backface-hidden {
  backface-visibility: hidden; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2.5rem rgba(44, 31, 22, 0.6); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.8rem rgba(44, 31, 22, 0.6); }

.btn--light-gold {
  background-color: #ffe497;
  color: #473223; }
  .btn--light-gold::after {
    background-color: #ffe497; }

.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom 1.5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #ffd253;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #b08d57;
  color: #c6ac85;
  box-shadow: 0 1rem 2rem rgba(176, 141, 87, 0.15);
  border-radius: 2rem;
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(176, 141, 87, 0.15);
  transform: translateY(0); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .50;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    width: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.7rem 5rem rgba(255, 228, 151, 0.85); }
    .card__side--front {
      background-color: #85693e;
      color: #ffe497; }
    .card__side--back {
      background-color: #b28362;
      color: #2c1f16;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #c6ac85, #b08d57); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 102% 0, 102% 75%, 0 100%);
    clip-path: polygon(0 0, 102% 0, 102% 75%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(178, 131, 98, 0.8), rgba(71, 50, 35, 0.6)), url(../../img/tour-1-large.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(178, 131, 98, 0.8), rgba(71, 50, 35, 0.6)), url(../../img/tour-2-large.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(178, 131, 98, 0.8), rgba(71, 50, 35, 0.6)), url(../../img/tour-3-large.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #85693e;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 228, 151, 0.75), rgba(133, 105, 62, 0.75)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #c6ac85; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #b98900;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    color: #ffe497; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
    color: #ffe497; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(44, 31, 22, 0.4);
    border: 0.2rem solid #473223;
    border-radius: 1.5rem;
    position: absolute;
    z-index: 10;
    transition: all .2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 3rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 11rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(44, 31, 22, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(176, 141, 87, 0.75);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(255, 228, 151, 0.45);
  transition: transform .3s;
  height: 38rem; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to top, #b08d57, #2c1f16);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.4rem) scale(1.05); }

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(71, 50, 35, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #85693e;
    box-shadow: 0 2rem 4rem rgba(255, 228, 151, 0.8);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .modal__left {
    width: 33.333333%;
    display: table-cell; }
  .modal__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .modal__img {
    display: block;
    width: 100%; }
  .modal__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #ffe497;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #ffe497;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .modal:target {
    opacity: 1;
    visibility: visible; }
  .modal:target .modal__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .modal__close:link, .modal__close:visited {
    color: #2c1f16;
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    color: #ffe497;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .modal__close:hover {
    color: #2c1f16; }

.review {
  width: 75%;
  margin: 0 auto;
  background-image: linear-gradient(to right bottom, rgba(178, 131, 98, 0.8), rgba(178, 131, 98, 0.6));
  box-shadow: 0 3rem 6rem rgba(255, 228, 151, 0.4);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  position: relative; }
  .review__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(52% at 48% 47%);
    shape-outside: circle(52% at 48% 47%);
    -webkit-clip-path: circle(50% at 48% 56%);
    clip-path: circle(50% at 48% 56%);
    transform: translateX(-3rem) translateY(-3rem) skewX(12deg); }
  .review__img {
    height: 100%;
    transform: translateX(-1.4rem) scale(1.4);
    transition: all .5s;
    backface-visibility: hidden; }
  .review__text {
    transform: skewX(12deg);
    color: #85693e; }
  .review__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #ffd253;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .review:hover .review__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 400; }
  .review:hover .review__img {
    transform: translateX(-0.1rem) translateY(1.4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.review__rating {
  transform: skewX(12deg);
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 1.5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  position: absolute;
  left: 40%;
  top: 72%; }

.footer {
  background-color: #2c1f16;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #ffe497; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #ffe497;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #ffe497;
    background-color: #2c1f16;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2; }
  .footer__link:hover, .footer__link:active {
    color: #ffe497;
    box-shadow: 0 1rem 1rem rgba(255, 228, 151, 0.4); }
  .footer__copyright {
    border-top: 1px solid #ffe497;
    padding-top: 2rem;
    width: 100%;
    float: right; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc( (100% - 2 * 6rem)/3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc( (100% - 3 * 6rem)/4); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(178, 131, 98, 0.8), rgba(71, 50, 35, 0.6)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #ffe497;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(44, 31, 22, 0.6);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#b28362, #473223);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -20rem;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #ffe497;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffe497 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #473223;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(90);
  opacity: 0.95; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 115%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #2c1f16;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #c6ac85;
  padding: 25rem 0;
  margin-top: -20vh;
  height: 93vh; }

.section-features {
  background-image: linear-gradient(to right bottom, rgba(178, 131, 98, 0.8), rgba(71, 50, 35, 0.6)), url(../img/landing-hero-2.jpg);
  background-size: cover;
  padding: 20rem 0;
  transform: skewY(-7deg);
  margin-top: -15rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #c6ac85;
  padding: 27rem 0 15rem 0;
  margin-top: -15rem; }

.section-reviews {
  position: relative;
  padding: 15rem 0;
  background-size: cover; }
